.footer{
    display: flex;
    justify-content: space-between;
    background-color: $salmon;
    margin-bottom: 0;
    margin-top: 70px;
    padding:10px;
   
    &__links{
        display: flex;
        flex-direction: column;
        color: #fff;
        font-size: 14px;
        padding: 0 15px;
        & a{
            text-decoration: none;
            padding: 5px;
            &:any-link{
                color: #fff;
            }
        }
    }
}

.link1 a{
    text-align: left;
}
.link2 a{
    text-align: center;
}
.link3 a{
    text-align:end;
}