@import "./_variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  &__logo img {
    width: 70px;
    padding-left: 10px;
  }
  &__container__list {
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 25px;
  }
}

.navlinks {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
  color: $fushia;
}
