.servicesHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 10px;
    padding: 1% 1% 0% 1%;
    border-radius: 6px;
    box-shadow: 0px 5px 20px #00000024;
    background: linear-gradient(
      0deg,
      rgba(252, 90, 90, 1) 0%,
      rgba(254, 151, 103, 1) 100%
    );
    width: 230px;
    height: 230px;
    transition-duration: 350ms;
    &:hover{
        transform: scale(1.08);
    }
    &__icon {
      display: flex;
      justify-content: center;
      & img {
        width: 130px;
      }
    }
    &__name {
      display: flex;
      justify-content: center;
      color: #fff;
      text-align: center;
      font-size: 14px;
    }
  }
}
