.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  &__logo {
    width: 160px;
    align-items: center;
  }
  &__quote {
    text-align: center;
    padding: 30px;
    font-size: 20px;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  .btn {
    background-color: $fushia;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 40px;
    padding: 15px 40px;
    cursor: pointer;
  }
}
