//vendors
@import "./mixins";
@import "./buttons";
@import "./_variables";

@import "./Navbar";
@import "./Footer";
@import "./accueil/ServicesHome";

//Home Page
@import "./accueil/Baneer";
@import "./accueil/Intro";
@import "./accueil/Overview";
@import "./accueil/Recruitment";

//A propos Page
@import "./aPropos/About";
@import "./aPropos/Historical";
@import "./aPropos/Empowerment";

//Contact Page
@import "./contact/Contact";

//Services Page
@import "./services/Description";
@import "./services/Support";

//Polices
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

* {
  font-family: "Montserrat";
  box-sizing: border-box;
  box-shadow: none;

}

body{
  //Barre de défilment sur X cachée
  overflow-x:hidden; 
  //Retire marge du footer
  margin-bottom: 0;
  margin-left:0;
  margin-right:0;
   
}


.sectionTitle {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  padding: 0px 40px;
  @include smartphone{
    font-size: 20px;
  }
}

main {
  position: relative;
}

.separator {
  color: $fushia;
  position: relative;
  bottom: 28px;
  @include smartphone{
    font-size: 14px;
  }
}


strong{
  font-weight: normal;
}