.contact {
 
  &__container {
    display: flex;
    justify-content: space-around;
    margin: 58px;
    font-size: 16px;
    @include wideScreen{ 
      margin-bottom: 20%;
      margin-top:10%;
    }
    @include tabAndLess{
      flex-direction: column;
      margin:auto;
    }
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include tabAndLess{
        margin: 20px;
      }
      
      
      &__phone {
        @include shadowBox;
        border-radius:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 25px;
        
        @include tabAndLess{
        margin-top: 20px;
        width: 350px;
        }
      }
      &__email {
        @include shadowBox;
        border-radius:10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 25px;
        @include tabAndLess{
          margin-top: 20px;
          width: 350px;
          }
      }
      &__address {
        @include shadowBox;
        border-radius:10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        @include tabAndLess{
          margin: 20px 0px;
          width: 350px;
          }
        &__mobility {
          font-size: 12px;
        }
      }
    }
    &__map {
      border: 10px solid $chamalow;
      border-radius: 15px;
      @include tabAndLess{
        display: flex;
        justify-content: center;
        border: none;
        border-radius:0%;
       
      }
      

    }
  }
}

.logoSize {
  width: 50px;
  height: 50px;
}
