.description {
  margin: 100px 0px;
  position: relative;
  @include smartphone {
    margin: 20px 0px;
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include smartphone {
      flex-direction: column-reverse;
      
    }

    & img {
      width: 90px;
      height: 90px;

      @include smartphone {
        margin-bottom: 60px;
        margin-top: 15px;
      }
    }
    &__card {
      @include shadowBox;
      background-color: #fff;
      width: 50%;
      padding: 16px;
      border-radius: 15px;
      @include wideScreen{
        max-width: 30%;
      }
      @include smartphone {
        width: 80%;
        margin-bottom: 50px;
      }
    }
  }
  &__background {
    height: 150px;
    @include gradientBackground;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @include smartphone {
      top: 10%;
    }
  }
}
