.support {
  margin: 130px;
  position: relative;
  @include smartphone {
    margin: 50px 0px 300px 0px;
  }
  &__picture {
    display: flex;
    justify-content: flex-end;
    @include smartphone {
      justify-content: initial;
    }
    & img {
      width: 46%;
      border-radius: 10px;
      position: absolute;
      z-index: -1000;
      @include smartphone {
        width: 100%;
        border-radius: 0;
      }
    }
  }

  &__card {
    position: relative;
    top: 50px;
    @include shadowBox;
    background-color: #fff;
    border-radius: 15px;
    z-index: 200;
    width: 60%;
    padding: 10px;
    @include smartphone {
      top: 220px;
      width: 80%;
      margin: auto;
    }
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      & h3 {
        font-family: "La Belle Aurore";
        font-size: 28px;
        @include smartphone {
          font-size: 18px;
        }
      }
    }

    &__content {
      padding: 20px;
      &__situation {
        font-weight: bold;
        @include smartphone {
          font-size: 16px;
        }
      }
      &__organism {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 18px;
        & p {
          padding-left: 10px;
          @include smartphone {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.arrow {
  width: 10px;
  height: 10px;
}
