.about {
  margin-top: 50px;
  position: relative;
 
@include smartphone{
  margin-top: 10px;
}
  &__img {
    position: absolute;
    left: 110px;
    width: 410px;
    height: 330px;
    border-radius: 10px;
    z-index: -800;
    @include wideScreen{
      left: 24%;
    }
    @include smartphone{
      position:relative;
      border-radius:0%;
      left: 0%;
      width: 100%;
    }
  }
  &__section {
    display: flex;
    justify-content: center;
    &__card {
      @include shadowBox;
      background-color: #fff;
      position: relative;
      top: 100px;
      left: 50px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 40px;
      border-radius: 15px;
      @include wideScreen{
        max-width: 30%;
      }
      @include smartphone{
        position: absolute;
        top: 210px;
        left : auto;
        width: 80%;
        padding: 20px;
        text-align: center;
      }
      
    }
  }
  &__background {
    @include gradientBackground;
    height: 400px;
    top:50px;
    z-index: -1000;
    @include smartphone{
      top: 400px;
      height: 200px;
    }
  }
}
