@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btn {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  text-decoration: none;
  color: #fff;
  background-color: #e91e63;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  padding: 15px 30px;
  letter-spacing: 0.05rem;
  cursor: pointer;
}
.btn:hover {
  animation: rotateBtn 0.4s infinite;
}

@keyframes rotateBtn {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateX(-4px) rotate(-4deg);
  }
  40% {
    transform: translateX(-2px) rotate(-2deg);
  }
  60% {
    transform: translateX(4px) rotate(4deg);
  }
  80% {
    transform: translateX(2px) rotate(2deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
#scrollToTop {
  position: fixed;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  animation: fadeIn 700ms ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar__logo img {
  width: 80px;
  padding-left: 10px;
}
@media (max-width: 1023px) {
  .navbar__container {
    display: none;
  }
}
.navbar__container--open {
  display: block;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4000;
}
.navbar__container__list {
  width: 500px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 25px;
}
@media (max-width: 1023px) {
  .navbar__container__list {
    z-index: 5000;
    flex-direction: column;
    background-color: #FC5A5A;
    width: 100%;
    padding: 0;
  }
}
.navbar__container__list > li {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .navbar__container__list > li {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #fff;
    line-height: 90px;
    text-align: center;
    font-size: 26px;
  }
  .navbar__container__list > li:nth-child(1) {
    border-top: 1px solid #fff;
  }
}
.navbar__hamburgerMenu {
  background-color: #FC5A5A;
  display: none;
  padding: 14px;
  border-radius: 5px;
}
.navbar__hamburgerMenu > img {
  height: 30px;
  width: 30px;
}
@media (max-width: 1023px) {
  .navbar__hamburgerMenu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
  }
}

.navlinks {
  text-decoration: none;
  color: black;
  z-index: 2500;
}
@media (max-width: 1023px) {
  .navlinks {
    color: #fff;
  }
}

.active {
  font-weight: bold;
  color: #e91e63;
}
@media (max-width: 1023px) {
  .active {
    color: #fff;
  }
}

.menuAppear {
  animation-name: menuAppear;
  animation-duration: 350ms;
  animation-timing-function: ease-out;
}

@keyframes menuAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #FC5A5A;
  margin-bottom: 0;
  margin-top: 100px;
  padding: 10px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
}
.footer__links a {
  text-decoration: none;
  padding: 5px;
}
.footer__links a:any-link {
  color: #fff;
}

.link1 a {
  text-align: left;
}

.link2 a {
  text-align: center;
}

.link3 a {
  text-align: end;
}

.servicesHome {
  display: flex;
  perspective: 1000px;
}
@media (max-width: 1505px) {
  .servicesHome {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.servicesHome__card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  position: relative;
  transition: transform 900ms ease;
  transform-style: preserve-3d;
  margin: 10px;
  width: 230px;
  height: 230px;
}
.servicesHome__card:hover {
  transform: rotateX(180deg);
}
@media (max-width: 1505px) {
  .servicesHome__card {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .servicesHome__card {
    width: 370px;
  }
}
.servicesHome__card__front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 230px;
  padding: 1% 1% 0% 1%;
  border-radius: 6px;
  background: linear-gradient(0deg, rgb(252, 90, 90) 0%, rgb(254, 151, 103) 100%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 1505px) {
  .servicesHome__card__front {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .servicesHome__card__front {
    width: 370px;
  }
}
.servicesHome__card__front__icon {
  display: flex;
  justify-content: center;
}
.servicesHome__card__front__icon img {
  padding-top: 20px;
  width: 130px;
}
.servicesHome__card__front__name {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 8px;
}
.servicesHome__card__front__name h3 {
  font-weight: 700;
  text-shadow: none;
}
.servicesHome__card__back {
  backface-visibility: hidden;
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 230px;
  padding: 1% 1% 0% 1%;
  border-radius: 6px;
  background: linear-gradient(0deg, rgb(252, 90, 90) 0%, rgb(254, 151, 103) 100%);
  color: #fff;
  font-weight: 600;
}
.servicesHome__card__back ul > li {
  padding: 6px 0px;
}
@media (max-width: 767px) {
  .servicesHome__card__back ul > li {
    text-align: center;
    list-style-type: none;
  }
}
@media (max-width: 1505px) {
  .servicesHome__card__back {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .servicesHome__card__back {
    width: 370px;
  }
}

.banner {
  position: relative;
  z-index: -100;
}
.banner__img {
  background: url("assets/manonabench.jpg") no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  height: 350px;
}
@media (max-width: 767px) {
  .banner__img {
    height: 200px;
  }
}
.banner__quote {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  padding: 6px 0px;
  bottom: -7%;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .banner__quote {
    font-size: 16px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 30px;
}
.intro__logo {
  width: 160px;
  align-items: center;
}
.intro__quote {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .intro__quote {
    font-size: 18px;
    padding: 60px 10px 18px 10px;
  }
}

.overview {
  position: relative;
}
.overview__content {
  margin: 110px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1023px) {
  .overview__content {
    flex-direction: column-reverse;
  }
}
.overview__content__txt {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  background-color: #fff;
  z-index: 50;
  width: 40%;
  border-radius: 15px;
  padding: 40px;
}
@media (max-width: 1023px) {
  .overview__content__txt {
    margin-top: 20px;
    width: 80%;
  }
}
@media (max-width: 1023px) {
  .overview__content__img {
    width: 100%;
  }
}
.overview__content__img img {
  border-radius: 15px;
  width: 400px;
  z-index: 51;
}
@media (max-width: 1023px) {
  .overview__content__img img {
    width: 100%;
    border-radius: 0%;
  }
}
.overview__background {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgba(254, 151, 103, 0.5) 0%, rgb(254, 220, 220) 50%);
  width: 100vw;
  position: absolute;
  z-index: -1000;
  height: 200px;
}
@media (max-width: 1023px) {
  .overview__background {
    top: 80%;
  }
}
@media (max-width: 767px) {
  .overview__background {
    top: 60%;
  }
}

.recruitment {
  position: relative;
}
.recruitment__container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1023px) {
  .recruitment__container {
    flex-direction: column;
  }
}
.recruitment__container__announcement {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  z-index: 50;
  width: 40%;
  border-radius: 15px;
  padding: 40px;
}
@media (max-width: 1023px) {
  .recruitment__container__announcement {
    width: 90%;
    margin-top: 20px;
  }
}
.recruitment__container__announcement__address {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #e91e63;
  text-align: center;
}
.recruitment__container__announcement__btn {
  cursor: pointer;
  font-weight: bold;
  padding: 20px;
  color: #fff;
  background-color: #e91e63;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  transition-duration: 500ms;
}
.recruitment__container__announcement__btn:hover {
  background-color: #FC5A5A;
  transform: scale(1.05);
}
.recruitment__container__img {
  width: 200px;
  height: 200px;
}
.recruitment__background {
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, rgba(254, 151, 103, 0.5) 0%, rgb(254, 220, 220) 50%);
  width: 100vw;
  position: absolute;
  z-index: -1000;
  height: 250px;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .recruitment__background {
    top: 70%;
  }
}
@media (max-width: 767px) {
  .recruitment__background {
    top: 66%;
  }
}

.about {
  margin-top: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .about {
    margin-top: 10px;
  }
}
.about__img {
  position: absolute;
  left: 110px;
  width: 410px;
  height: 330px;
  border-radius: 10px;
  z-index: -800;
}
@media (max-width: 767px) {
  .about__img {
    position: relative;
    border-radius: 0%;
    left: 0%;
    width: 100%;
  }
}
.about__section {
  display: flex;
  justify-content: center;
}
.about__section__card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  background-color: #fff;
  position: relative;
  top: 100px;
  left: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 40px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .about__section__card {
    position: absolute;
    top: 210px;
    left: auto;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}
.about__background {
  background: linear-gradient(90deg, rgba(254, 151, 103, 0.5) 0%, rgb(254, 220, 220) 50%);
  width: 100vw;
  position: absolute;
  z-index: -1000;
  height: 400px;
  top: 50px;
  z-index: -1000;
}
@media (max-width: 767px) {
  .about__background {
    top: 400px;
    height: 200px;
  }
}

.historical {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .historical {
    margin-top: 400px;
  }
}
.historical__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historical__header__logo {
  width: 50px;
  height: 50px;
  margin-right: 90px;
}
.historical__grid {
  margin: 30px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: 80px;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (max-width: 767px) {
  .historical__grid {
    margin: 30px;
  }
}
.historical__grid__2006 {
  grid-area: 1/1/2/2;
}
.historical__grid__2007 {
  grid-area: 2/1/3/2;
}
.historical__grid__2010 {
  grid-area: 3/1/4/2;
}
.historical__grid__2015 {
  grid-area: 4/1/5/2;
}
.historical__grid__2016 {
  grid-area: 5/1/6/2;
}
.historical__grid__separator1 {
  grid-area: 1/2/2/3;
}
.historical__grid__separator2 {
  grid-area: 2/2/3/3;
}
.historical__grid__separator3 {
  grid-area: 3/2/4/3;
}
.historical__grid__separator4 {
  grid-area: 4/2/5/3;
}
.historical__grid__separator5 {
  grid-area: 5/2/6/3;
}
.historical__grid__2006fact {
  grid-area: 1/3/2/6;
}
.historical__grid__2007fact {
  grid-area: 2/3/3/6;
}
.historical__grid__2010fact {
  grid-area: 3/3/4/6;
}
.historical__grid__2015fact {
  grid-area: 4/3/5/6;
}
.historical__grid__2016fact {
  grid-area: 5/3/6/6;
}

.empowerment {
  margin-top: 80px;
  position: relative;
}
.empowerment__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .empowerment__content {
    flex-direction: column;
  }
}
.empowerment__content__left {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  background-color: #fff;
  width: 20%;
  padding: 20px;
  border-radius: 15px;
}
.empowerment__content__left ul > li {
  padding: 10px 0px;
}
@media (max-width: 1505px) {
  .empowerment__content__left {
    min-width: 40%;
  }
}
@media (max-width: 767px) {
  .empowerment__content__left {
    min-width: 70%;
  }
}
.empowerment__content__right {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  background-color: #fff;
  width: 30%;
  height: 220px;
  padding: 20px;
  border-radius: 15px;
}
@media (max-width: 1505px) {
  .empowerment__content__right {
    min-width: 40%;
  }
}
@media (max-width: 767px) {
  .empowerment__content__right {
    min-width: 70%;
    margin-top: 8%;
    min-height: 280px;
  }
}
.empowerment__content__right ul > li {
  padding: 5px 0px;
}
.empowerment__content__right > h3 {
  font-size: 16px;
  text-align: center;
}
.empowerment__background {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  height: 160px;
  background: linear-gradient(90deg, rgba(254, 151, 103, 0.5) 0%, rgb(254, 220, 220) 50%);
  width: 100vw;
  position: absolute;
  z-index: -1000;
}
@media (max-width: 767px) {
  .empowerment__background {
    top: 65%;
    height: 200px;
  }
}

.contact__container {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  font-size: 16px;
}
.contact__container__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact__container__details__phone {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}
.contact__container__details__email {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}
.contact__container__details__address {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.contact__container__details__address__mobility {
  font-size: 12px;
}
.contact__container__map {
  border: 20px solid #FEDCDC;
  border-radius: 15px;
}

.logoSize {
  width: 50px;
  height: 50px;
}

.description {
  margin: 100px 0px;
  position: relative;
}
.description__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.description__container img {
  width: 90px;
  height: 90px;
}
.description__container__card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  background-color: #fff;
  width: 50%;
  padding: 16px;
  border-radius: 15px;
}
.description__background {
  height: 150px;
  background: linear-gradient(90deg, rgba(254, 151, 103, 0.5) 0%, rgb(254, 220, 220) 50%);
  width: 100vw;
  position: absolute;
  z-index: -1000;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.support {
  margin: 130px;
  position: relative;
}
.support__picture {
  display: flex;
  justify-content: flex-end;
}
.support__picture img {
  width: 46%;
  border-radius: 10px;
  position: absolute;
  z-index: -1000;
}
.support__card {
  position: relative;
  top: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  background-color: #fff;
  border-radius: 15px;
  z-index: 200;
  width: 60%;
  padding: 10px;
}
.support__card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support__card__header h3 {
  font-family: "La Belle Aurore";
  font-size: 24px;
}
.support__card__content {
  padding: 20px;
}
.support__card__content__situation {
  font-weight: bold;
}
.support__card__content__organism {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 18px;
}
.support__card__content__organism p {
  padding-left: 10px;
}

.arrow {
  width: 10px;
  height: 10px;
}

* {
  font-family: "Montserrat";
  box-sizing: border-box;
  box-shadow: none;
}

body {
  overflow-x: hidden;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.sectionTitle {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  padding: 0px 40px;
}
@media (max-width: 767px) {
  .sectionTitle {
    font-size: 20px;
  }
}

main {
  position: relative;
}

.separator {
  color: #e91e63;
  position: relative;
  bottom: 28px;
}
@media (max-width: 767px) {
  .separator {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
