@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.navbar__logo img {
  width: 70px;
}
.navbar__container__list {
  width: 500px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navlinks {
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: #e91e63;
}

.banner {
  position: relative;
}
.banner__img {
  width: 100%;
  height: 350px;
}
.banner__quote {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  padding: 6px 0px;
  bottom: -7%;
  width: 100%;
  text-align: center;
}

.servicesHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.servicesHome__card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 1% 1% 0% 1%;
  border-radius: 6px;
  background: linear-gradient(0deg, rgb(252, 90, 90) 0%, rgb(254, 151, 103) 100%);
  width: 230px;
  height: 230px;
  transition-duration: 350ms;
}
.servicesHome__card:hover {
  transform: scale(1.05);
}
.servicesHome__card__icon {
  display: flex;
  justify-content: center;
}
.servicesHome__card__icon img {
  width: 130px;
}
.servicesHome__card__name {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.btnContainer .btn {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  color: #fff;
  background-color: #e91e63;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 40px;
  padding: 15px 30px;
  letter-spacing: 0.05rem;
  cursor: pointer;
}
.btnContainer .btn:hover {
  animation: rotateBtn 0.4s infinite;
}

@keyframes rotateBtn {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  20% {
    transform: translateX(-4px) rotate(-4deg);
  }
  40% {
    transform: translateX(-2px) rotate(-2deg);
  }
  60% {
    transform: translateX(4px) rotate(4deg);
  }
  80% {
    transform: translateX(2px) rotate(2deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
.overview {
  border: 1px solid red;
}
.overview__content {
  margin: 110px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.overview__content__txt {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1411764706);
  z-index: 50;
  width: 30%;
  border-radius: 15px;
  padding: 40px;
}
.overview__content__img img {
  border-radius: 15px;
  width: 400px;
  z-index: 51;
}
.overview__background {
  width: 100vw;
  position: absolute;
  bottom: 270px;
  z-index: 1;
  background: linear-gradient(90deg, rgba(254, 151, 103, 0.5) 0%, rgb(254, 220, 220) 50%);
  height: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.intro__logo {
  width: 160px;
  align-items: center;
}
.intro__quote {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

.sectionTitle {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  padding: 10px 40px;
}

main {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
