.recruitment {
    position: relative;
  &__container {
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include tabAndLess{
      flex-direction: column;
    }
    &__announcement {
        @include shadowBox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        z-index: 50;
        width: 40%;
        border-radius: 15px;
        padding: 40px;
        @include wideScreen{
          max-width: 30%;
        }
        @include tabAndLess{
          width: 90%;
          margin-top: 20px;
        }
        &__address{
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            background-color: $fushia;
            text-align: center;
            font-weight: 500;
        }
        &__btn{
            cursor: pointer;
            font-weight:700;
            padding: 20px;
            color: #fff;
            background-color: $fushia;
            border-radius: 5px;
            border: none;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            transition-duration: 500ms;
            &:hover{
                background-color: $salmon;
                transform: scale(1.05);
            }
        }
       
    }
    &__img{
        width: 200px;
        height: 200px;
      }
  }
  &__background{
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include gradientBackground;
    height: 250px;
    @include tab{
      top: 70%;
    }
    @include smartphone{
      top: 66%;
    }
  }
}
