.servicesHome {
  display: flex;
  perspective: 1000px;

  @include desktopAndLess {
    flex-wrap: wrap;
    justify-content: center;
    // gap: 15%; Juste changer les tailles des cards
  }
  &__card {
    @include shadowBox;
    position: relative;
    transition: transform 900ms ease;
    transform-style: preserve-3d;
    margin: 10px;
    width: 230px;
    height: 230px;
    &:hover {
      transform: rotateX(180deg);
    }
    @include desktopAndLess {
      width: 400px;
    }
    @include smartphone {
      width: 370px;
    }
    &__front {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 230px;
      height: 230px;
      padding: 1% 1% 0% 1%;
      border-radius: 6px;
      background: linear-gradient(
        0deg,
        rgba(252, 90, 90, 1) 0%,
        rgba(254, 151, 103, 1) 100%
      );
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      @include desktopAndLess {
        width: 400px;
      }
      @include smartphone {
        width: 370px;
      }
      &__icon {
        display: flex;
        justify-content: center;
        & img {
          padding-top: 20px;
          width: 130px;
        }
      }
      &__name {
        display: flex;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-size: 14px;
        padding: 8px;

        & h3 {
          font-weight: 700;
          text-shadow: none;
        }
      }
    }
    &__back {
      backface-visibility: hidden;
      transform: rotateX(180deg);
      display: flex;
      flex-direction: column;
      width: 230px;
      height: 230px;
      padding: 1% 1% 0% 1%;
      border-radius: 6px;
      background: linear-gradient(
        0deg,
        rgba(252, 90, 90, 1) 0%,
        rgba(254, 151, 103, 1) 100%
      );
      color: #fff;
      font-weight: 600;

      & ul > li {
        padding: 6px 0px;
        @include smartphone {text-align:center; list-style-type: none;}
      }
      @include desktopAndLess {
        width: 400px;
      }
      @include smartphone {
        width: 370px;
       
      }
    }
  }
}
